*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    font-size: 2rem;
    color: #ECE5DD;
    margin-top: 20px;
    background-color:  #075E54;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    /* font-size: 1.5em; */
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 2%;
}

.body p{
    text-align: center;
    width: 60%;
    height: fit-content ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #ECE5DD;
    border-radius: 20px;
    padding: 10px;
    background-color: #075E54;
}

#home button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #128C7E;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
    top: 20px;
    transition: background-color 0.3s ease;
    left: 50%;
    transform: translateX(-50%);
}

button:hover{
    background-color: #25D366;
}