#container{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    margin-top: 1%;
    border-radius: 10px;
}

.I_body{
    padding: 10px;
    border-radius: 10px;
}

#container>div{
    border: 1px solid #ccc;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 20px;
}

#container>div::-webkit-scrollbar{
    display: none;
}

#chart{
    background-color: #E5DDD5;
    width: 100%;
    height: 100%;
}

.search input{
    width: 70%;
    height: 50%;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: #E5DDD5;
    color: black;
}

.search input:focus{
    border: 1px solid #25D366;
    box-shadow: 0 0 5px rgba(37, 211, 102, 0.5);
}

.search input::placeholder{
    color: darkgreen;
    font-size: 1.2rem;
    font-style: italic;
}

.search button{
    width: 20%;
    height: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: #25D366;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
}

.messengers{
    width: 100%;
    /* height: 10%; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* border: 1px solid red; */
    overflow-y: scroll;
    height: 90%;
    background-color: #075E54;

}
.messengers::-webkit-scrollbar{
    display: none;
}

.messengers>div{
    cursor: pointer;
    width: 100%;
    height: 10%;
    font-size: 1.2rem;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

.messengers div div{
    background-color: white;
    width: 95%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: 1.2rem;
    color: black;
}

.messengers div div p{
    font-size: 8px;
    margin-left: 6px;
    vertical-align: middle;
}

#buttons{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    background-color: #075E54;
}

#buttons button{
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    background-color: #075E54;
}

#Logout{
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #075E54;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#Logout:hover{
    background-color: #25D366;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#Logout_section{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    /* background-color: #075E54; */
}